.ip-box{
  height:25px;
  width:25px;
  background-color: #c00000;
}

.robot-box{
  height:25px;
  width:25px;
  background-color: #c00000;
}
.network-box{
  height:25px;
  width:25px;
  background-color: #c00000;
}
.checkBox{
  position:relative;
  float:right;
}
.navbar{
  padding-bottom: .5em;
}
.main-logo{
  font-family: Impact;
  font-size: 36px;
  color: white;
  margin-right:.3em;
}
