.ip-box{
  height:25px;
  width:25px;
  background-color: #c00000;
}
#nt{
  table-layout: fixed;
  width: 55em;
  overflow-wrap: break-word;
  margin:auto;

}
.robot-box{
  height:25px;
  width:25px;
  background-color: #c00000;
}
.network-box{
  height:25px;
  width:25px;
  background-color: #c00000;
}
.checkBox{
  position:relative;
  margin-left:auto;margin-right:auto;
}
.navbar{
  padding-bottom: .5em;
}
.main-logo{
  font-family: Impact;
  font-size: 36px;
  color: white;
  margin-right:.3em;
}

img {
  position: absolute;

}
.robot{
  z-index:100;
  left:5px;
  position: absolute;
}
.field{
  z-index: 1;
  position: absolute;
  width:900px;
  height: 469px;
}
.map{
  position: relative;
}
